*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main_popup
{

    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(12,0,67,.4);
}

#popup
{
    position: absolute;
    width: 30%;
    height: 25vh;
    top:10vh;
    left: 35%;
    background-color: seagreen;
    z-index: 999;
    padding: 3vh;
    font-size: 1.5em;
    text-align: center;
    font-family: "Franklin Gothic Medium Cond", "Droid Sans", sans-serif;
    color: white;
    border-radius: 20% 20%;
    border: 2px solid black;
}

#popup > p > input
{
    width: 20%;
    margin-top: -1vh;
}

.input_margin
{
    width: 30%;
    padding-left: 10%;
}

#popup > p
{
    padding-bottom: 3vh;
}

.btn_popup
{
    width: 35%;
    height: 4vh;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: .6em;

}

#choose
{
    display: none;
    position: absolute;
    width: 40%;
    left: 30%;
    top: 20vh;
    height: 60vh;
    background-color: darkgray;
    text-align: center;
    color: black;
    font-family: "Franklin Gothic Book", sans-serif;
    padding-top: 10vh;
    font-size: 4em;
}

#custom
{
    display: none;
}

body
{
    background-color: floralwhite;
}

#title
{
    position: relative;
    width: 40%;
    left: 30%;
    top: 20vh;
    height: 60vh;
    background-color: darkgray;
    text-align: center;
    color: black;
    font-family: "Franklin Gothic Book", sans-serif;
    padding-top: 10vh;
    font-size: 4em;
}

#start
{
    width: 50%;
    height: 10vh;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 3vh;
    cursor: pointer;
    margin-top: 10vh;
    font-size: .8em;
}

.btns
{
    position: relative;
    width: 80%;
    left: 10%;
}

.btn
{
    float: left;
    width: 35%;
    height: 7vh;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5vh 0 0 10%;
    font-size: .3em;
}

#empty_list
{
    display: none;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 5vh;
    min-height: 90vh;
    background-color: darkgray;
    text-align: center;
    color: black;
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 2em;
}

#empty_list > p
{
    margin-top: 3vh;
}

.oper_btns
{

    position: relative;
    width: 80%;
    left: 10%;
    margin-bottom: 10vh;
}

.oper_btn
{
    float: left;
    width: 35%;
    height: 6vh;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin: 4vh 0 0 10%;
    font-size: .45em;
    padding: 1vh 5%;

}

.queue_btn
{
    width: 30%;
    margin: 4vh 0 0 3%;
}

.queue_btns
{
    margin-top: 15vh;
}

#queue
{
    display: none;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 15vh;
    min-height: 70vh;
    background-color: darkgray;
    text-align: center;
    color: black;
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 2em;
}

#queue > p
{
    margin-top: 5vh;
}

#stack
{
    display: none;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 15vh;
    min-height: 70vh;
    background-color: darkgray;
    text-align: center;
    color: black;
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 2em;
}

#stack > p
{
    margin-top: 5vh;
}

#time_measure
{
    display: none;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 5vh;
    min-height: 90vh;
    background-color: darkgray;
    text-align: center;
    color: black;
    font-family: "Franklin Gothic Book", sans-serif;
    font-size: 2em;
}

#time_measure > p
{
    margin-top: 3vh;
}

.time_btn
{
    width: 30%;
    margin: 4vh 0 0 3%;
}

.time_btns
{
    margin-top: 10vh;
}

.other_list
{
    position: absolute;
    right: 2%;
    top: -2vh;
    width: 25%;
    height: 4vh;
    background-color: darkslategray;
    color: white;
    border: none;
    cursor: pointer;
    margin: 4vh 0 0 10%;
    font-size: .45em;
    padding: 1vh 5%;
}